html {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Anton', sans-serif;
}

body {
/*
    background-image: url(Rocket.png);
    background-repeat: no-repeat;
    background-size: cover;
*/
    background-color: #444;
/*    text-align: center;*/
}

.container {
/*
    background: linear-gradient(to right, #00ccff, #b3f0ff);
    box-shadow: 3px 5px 3px black;
*/
}

/* blur shadow and grouping */
h1 {
    color: #ffffff;    
    line-height: 2rem;
    font-family: 'Anton', serif, sans-serif;
}

h2 {
    color: #ffffff;    
    line-height: 2rem;
    font-family: 'PT+Sans', serif, sans-serif;
}

h3 {
    color: #ffffff;    
    line-height: 2rem;
    font-family: 'Saira+Condensed', serif, sans-serif;
}


a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 0.5;
    display: block;
    margin: auto;
}

.borderImg {
    border-radius: 10px;
    width: 750px;
    height: 500px;
    border: 2px solid #ddd;
    padding: 5px;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
    
}

