body {
    background-image: url(Rocket.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#foo {
    color: red;
}

[id="foo"] {
    color: cyan;
}

/* Override everything! */
h1 {
    color: green !important;
}

/* score 114 */
html body div .container h1 #foo {
    color: red;
}

.container {
/*
    background: linear-gradient(to right, #00ccff, #b3f0ff);
    box-shadow: 3px 5px 3px black;
*/
}

.container h1 {
    color: aqua;
}

div h1 {
    color: red;
}

/* blur shadow and grouping */
h1, h2, h3 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-family: sans-serif;
}

/* Specificity */
h1 {
    color: green;
}

.borderImg {
    border: 10px dashed red;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
    
}

